.scroll_bar {
  display: flex;
  align-items: center;
  overflow: scroll;
  background: transparent!important;
  .scroll_item {
    flex-shrink: 0;
    padding: .5rem;
    background: #fff;
    color: #757575;
    border-bottom: 2px solid #eee;
    &.active {
      background: $color-default;
      color: #fff;
      border-bottom: 2px solid #eee;
    }
  }
}
